body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
     background-image: url("https://images.unsplash.com/photo-1484412509196-57eda96981e8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
      box-shadow: -1px 92px 99px -62px rgba(3, 107, 255, 0.27), 0 1px 6px 0 rgba(10, 48, 255, 0.48);
    border-radius: 5px;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  
}
.box button:focus{
  width: 280px;
   -webkit-animation: 9s colorChange alternate;
  transition height 0.3s, width 0.3s 0.1s
  input:focus ~ .border
  
}
.box button{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box button:hover{
  background: #2ecc71;
}

.googlebutton{
  height: 25px;
  width: 138px;
  align-content: center;
  background-size: 130px;
  border-radius: 5px;
  background-image: url("https://scontent.fblr5-1.fna.fbcdn.net/v/t1.0-9/60732905_1527357390733247_2757984567334797312_n.jpg?_nc_cat=100&_nc_ht=scontent.fblr5-1.fna&oh=c9554b2734e3b7ae5bfb8b6ea5a897f8&oe=5D607229");
  background-repeat: repeat-y;
  background-position: center;
  border-color: #4da9ff;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}


@-webkit-keyframes colorChange {
  0%   { border-color: #007bff;  }
  5%  { border-color: #6610f2; }
  10%  { border-color: #6f42c1;}
  15%  { border-color: #e83e8c; }
  20% { border-color: #dc3545;}
   25%   { border-color: #fd7e14;  }
  30%  { border-color: #ffc107; }
  35%  { border-color: #28a745;}
  40%  { border-color: #20c997; }
  45%  { border-color: #17a2b8;}
  50%  { border-color: #6c757d;  }
  55%  { border-color: #343a40; }
  60%  { border-color: #007bff;}
  65%  { border-color: #6c757d; }
  70% { border-color: #28a745;}
  75% { border-color: #17a2b8;}
  80% { border-color: #ffc107;}
  85% { border-color: #dc3545;}
  90% { border-color: #343a40;}
  95% { border-color: #28a745;}
  100% { border-color: #20c997;}
}